{% extends "base.html" %}
{% load static i18n %}

{% block title %}POHDE - laadunvalvonta{% endblock %}

{% block extra_css %}
<link href="{% static 'css/stylesStartPage.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_active_index %}active{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="cover-container">
  <h1>{% trans "Lääketieteellisten kuvantamislaitteiden laadunvalvonta" %}</h1>
  <p class="lead">{% trans "Tervetuloa POHTEEN laadunvalvontasivustolle. Klikkaa edetäksesi lääketieteellisen kuvantamisen laadunvalvonnan modaliteetteihin." %}</p>
  <p class="lead">
    <a href="{% url 'modaliteetit' %}" class="btn">{% trans "Modaliteetit" %}</a>
  </p>
</div>
{% endblock %}
