<!doctype html>
<html lang="en">
<head>

  {% load static %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Custom CSS -->
  <link href="{% static 'css/stylesDeviceDetails.css' %}" rel="stylesheet"> <!-- Viittaus ulkoiseen CSS-tiedostoon -->

  <!-- Chart.js + plugins-->
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.0.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.2.1"></script>
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.4.0/dist/chartjs-plugin-annotation.min.js"></script> {% endcomment %}


  <!-- Scripts -->
  <script src="{% static 'js/scriptsDeviceDetails2.js' %}"></script>

  <!-- Title -->
  <title>{{ device.institutionname }} \ {{ device.institutionaldepartmentname }} \ {{ device.stationname }}</title>

</head>

<body class="bg-dark text-light">
  
  <!-- Header -->
  <header>
    <!-- NAVBAR -->
    <nav class="navbar">
      <h3 class="navbar-brand" href="#">LV-automaatti</h3>
      <div class="nav-links">
        <a class="nav-link" href="#">Aloitus</a>
        <a class="nav-link" href="#">Tietoa</a>
        <a class="nav-link" href="#">Yhteystiedot</a>
        <a class="nav-link" href="/admin/" target="_blank" rel="noopener noreferrer">Tietokanta</a>
        <a class="nav-link" href="http://localhost:8042/app/explorer.html">Kuvat</a>
      </div>
    </nav>
  </header>

  <div class="container">
    <nav id="sidebarMenu" class="sidebar">
      <div class="position-sticky">
        <div class="floating-box" id="mini-chat">
          <h4>Raportoi ongelmasta</h4>
          <form id="mini-chat-form">
            <textarea id="mini-chat-input" placeholder="Kirjoita viesti…" rows="2"></textarea>
            <button type="submit" id="mini-chat-send">Lähetä</button>
          </form>
        </div>

        <div id="ai-chat-box" style="margin-top: 2rem;">
          <h4>Kysy tekoälyltä</h4>
          <form id="chat-form">
            <textarea id="question" rows="3" placeholder="Kirjoita kysymyksesi..." style="width:100%;"></textarea>
          </form>
          <div id="answer-box"></div>
          <button id="chat-send-button" type="submit" form="chat-form">Lähetä</button>
        </div>


      </div>
    </nav>

    <main class="main-content">
      <div class="header">
        <h3>{{ device.institutionname }} \ {{ device.institutionaldepartmentname }} \ {{ device.stationname }}</h3>
      </div>


      <div id="charts-image-wrapper">
      <div id="image-profile-wrapper">
        <div id="vertical-profile-container">
          <canvas id="vertical-profile" width="70" height="500"></canvas>
        </div>
        <div id="image-and-horizontal-profile">
          {% comment %} <img id="orthanc-image" src="data:image/png;base64,{{ image }}" width="500" height="500" alt="Device Image"> {% endcomment %}
          {% comment %} <img id="orthanc-image" alt="Device Image" /> {% endcomment %}
          <img id="orthanc-image" width="500" height="500" alt="Device Image" />
          <canvas id="horizontal-profile" width="500" height="70"></canvas>
        </div>
      </div>
      <div id="charts-container">
        <div class="chart-wrapper">
          <canvas id="chart1" width="300" height="80"></canvas>
        </div>
        <div class="chart-wrapper">
          <canvas id="chart2" width="300" height="80"></canvas>
        </div>
        <div class="chart-wrapper">
          <canvas id="chart3" width="300" height="80"></canvas>
        </div>

        <!-- Skrollauspalkki -->
        <input type="range" id="scrollbar" min="0" max="0" value="0" step="1">
      </div>
      </div>



      <!-- TABLE: DEVICE BASIC INFO -->
      <div class="table-wrapper hidden">
      <div class="basic-section" style="margin-top: 1rem;">
        <h4 style="margin-bottom: 1rem;">🔧 Laitteen perustiedot</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Parametri</th>
                <th>Arvo</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Sairaala</td><td>{{ device.institutionname }}</td></tr>
              <tr><td>Osasto</td><td>{{ device.institutionaldepartmentname }}</td></tr>
              <tr><td>Laite</td><td id="device-name">{{ device.stationname }}</td></tr>
              <tr><td>Valmistaja</td><td>{{ device.manufacturer }}</td></tr>
              <tr><td>Anturityyppi</td><td>{{ device.tranducertype }}</td></tr>
              <tr><td>Modality</td><td>{{ device.modality }}</td></tr>
              <tr><td>Manufacturer Model</td><td>{{ device.manufacturermodelname }}</td></tr>
              <tr><td>Device Serial</td><td>{{ device.deviceserialnumber }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- TABLE: STUDY INFO -->
      <div class="device-section hidden" style="margin-top: 1rem;">
        <h4 style="margin-bottom: 1rem;">🔧 Tutkimuksen tiedot</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Parametri</th>
                <th>Arvo</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Päivämäärä</td><td>{{ device.seriesdate }}</td></tr>
              <tr><td>Herkkyys (s_depth)</td><td id="s-depth-value">{{ device.s_depth }}</td></tr>
              <tr><td>Tasaisuus (U_cov)</td><td id="u-cov-value">{{ device.u_cov }}</td></tr>
              <tr><td>Epäsymmetria (U_skew)</td><td id="u-skew-value">{{ device.u_skew }}</td></tr>
              <tr><td>Pahin signaalihäviö (U_low)</td><td id="u-low-value">{{ device.u_low }}</td></tr>
              <tr><td>Instanssi</td><td id="instance-value">{{ device.instance }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- TABLE: DICOM INFO -->
      <div class="dicom-section hidden" style="margin-top: 1rem;">
        <h4 style="margin-bottom: 1rem;">📄 DICOM-tiedot</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Parametri</th>
                <th>Arvo</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Patient ID</td><td>{{ device.patientid }}</td></tr>
              <tr><td>Patient Name</td><td>{{ device.patientname }}</td></tr>
              <tr><td>Study ID</td><td>{{ device.studyid }}</td></tr>
              <tr><td>Study Date</td><td>{{ device.studydate }}</td></tr>
              <tr><td>Study Time</td><td>{{ device.studytime }}</td></tr>
              <tr><td>Instance Number</td><td>{{ device.instancenumber }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>


      <!-- UID-INFO -->
      <div class="ui-section hidden" style="margin-top: 1rem;">
        <h4 style="margin-bottom: 1rem;">📄 UID-tiedot</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Parametri</th>
                <th>Arvo</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Study Instance UID</td><td>{{ device.instance }}</td></tr>
              <tr><td>SOP Class UID</td><td>{{ device.sopclassuid }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>


      {% comment %} <div id="ai-chat-box" style="margin-top: 2rem;">
          <h3>Kysy mittaustuloksista tekoälyltä</h3>
          <form id="chat-form">
            <textarea id="question" rows="3" placeholder="Kirjoita kysymyksesi..." style="width:100%;"></textarea>
            <button type="submit" style="margin-top: 0.5rem;">Lähetä</button>
          </form>
          <div id="answer-box"></div>
      </div> {% endcomment %}
      </main>
      </div>

    <!-- Modaali -->
    <div id="dicom-modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeDicomModal()">&times;</span>
        <h2>DICOM-metatiedot</h2>
        <table id="dicom-table" class="dicom-table">
          <thead>
            <tr>
              <th>Attribuutti</th>
              <th>Arvo</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>


    <span class="close" onclick="closeDicomModal()">&times;</span>



      <div style="height: 5px;"></div>

      <script>
      window.horizProfile = {{ horiz_prof|default:"[]"|safe }};
      window.vertProfile = {{ vert_prof|default:"[]"|safe }};
      console.log("Horisontaalinen profiili:", window.horizProfile);
      console.log("Vertikaalinen profiili:", window.vertProfile);
      </script>
      {% comment %} <script src="{% static 'js/scriptsDeviceDetails2.js' %}"></script> {% endcomment %}
</body>
</html>
