{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Tietoa" %} - laadunvalvonta{% endblock %}

{% block extra_css %}
<link href="{% static 'css/stylesTietoa.css' %}" rel="stylesheet">
{% endblock %}

{% block nav_active_tietoa %}active{% endblock %}

{% block main_class %}{% endblock %}

{% block content %}
<div class="cover-container">
  <div class="content">
    <h1>{% trans "Tietoa järjestelmästä" %}</h1>
    <p>{% trans "Tällä sivustolla voit tarkastella POHTEEN alueella sijaitsevien lääketieteellisten kuvantamislaitteiden laadunvalvonnan tuloksia." %}</p>

    <p>{% trans "Järjestelmä kattaa seuraavat kuvantamismodaliteetit:" %}</p>
    <ul class="modalities">
      <li>{% trans "Ultraääni" %} (UÄ)</li>
      <li>{% trans "Tietokonetomografia" %} (CT)</li>
      <li>{% trans "Natiiviröntgen" %}</li>
    </ul>

    <p>
      {% trans "Sivuston tavoitteena on tarjota selkeä ja ajantasainen näkymä laitteiden laadunvarmistuksen tilaan, tukien sekä fyysikoiden että kliinisten käyttäjien työtä." %}
    </p>
  </div>
</div>
{% endblock %}
