/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding: 40px;
  overflow-y: auto; 
  height: calc(100vh - 80px); 
  padding-bottom: 3rem;
}


/* BODY */
body {
  background: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  padding-bottom: 3rem;
  height: 100%;
}


/* HTML */
html {
  height: 100%;
}


/* NAVBAR */
.navbar {
  background-color: rgba(19, 19, 19);
  padding: 15px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.navbar h3 {
  margin: 0;
  color: white;
  position: absolute; 
  left: 20px; 
  font-size: 1.5rem; 
}

.navbar .nav-links {
  display: flex;
  gap: 20px;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  background-color: #343a40;
  transform: scale(1.1);
}


/* CONTAINER */
.container {
  display: flex;
  flex-direction: row; 
  height: 100%;
  margin-top: 40px; 
}

/* SIDEBAR */
.sidebar {
  background-color: rgba(19, 19, 19);
  padding: 20px;
  width: 200px;
  flex-shrink: 0;
  height: 100%; 
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.sidebar .nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .nav-item {
  margin-bottom: 15px;
}

.sidebar .nav-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  margin: 0;
  background: none;
  transition: color 0.3s ease;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

.sidebar .nav-link.active {
  color: #007bff;
}



/* TABLE */
.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%; 
  max-width: 1170px; 
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 40px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}

.table th, .table td {
  border: 1px solid #444444;
  padding: 5px;
  text-align: left;
  font-size: 12px;
  background-color: black;
  border-color: white;
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.table thead th {
  background-color: #343a40;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table tbody tr:nth-child(even) {
  background-color: black;
}

.table tbody tr:hover {
  background-color: #000000;
  cursor: pointer;
}

.table tbody td a {
  color: #007bff; 
  text-decoration: none; 
}

.table tbody td a:hover {
  text-decoration: underline; 
}

/* Parameter cell style */
.table tbody tr td:nth-child(1),
.table tbody tr td:nth-child(3) {
  color: #007bff; 
  text-decoration: underline; 
}

.table-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5rem;
}


/* IMAGE AND CHARTS */
#charts-image-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

#image-profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* gap: 10px; */
}

#vertical-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#vertical-profile {
  background: black;
  border-radius: 8px;
  margin-right: 20px;
  border: 0.5px solid #393939;;
  display: block;
}

#image-and-horizontal-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#orthanc-image {
  object-fit: cover;
  border: 0.5px solid #393939;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: block;
}

#horizontal-profile {
  background: black;
  border-radius: 8px;
  margin-top: 20px;
  border: 0.5px solid #393939;
}


#charts-container {
  flex-basis: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center; 
  overflow-x: auto; 
  gap: 20px; 
}

#charts-container .chart-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  height: 20%;
  border: 0.5px solid #393939;  
}


#chart1, #chart2, #chart3 {
  background-color: #000; 
}

#charts-container .chart-wrapper:last-child {
  margin-bottom: 0; 
}



/* AI ANSWER AND QUESTION BOX */
#answer-box::after {
  content: '|';
  animation: blink 1s step-start infinite;
}

#question {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
}

#answer-box {
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 0.5rem;
  width: 100%;
  min-height: 3em;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
  resize: none; 
}

@keyframes blink {
  50% { opacity: 0; }
}


.uid-section th:last-child,
.uid-section td:last-child {
  width: 50%;  
} 

